<div class="container">
    <div class="section">
        <div class="col s12">
            <ul class="tabs" materialize="tabs">
                <li class="tab col s4"><a href="#lots">Parking Lots</a></li>
                <li class="tab col s4"><a href="#inspectors">Inspectors</a></li>
                <li class="tab col s4"><a href="#requests">Lot Requests</a></li>
            </ul>
        </div>
    </div>
    <!-- Lots tab -->
    <div id="lots">
        <div class="card white">
            <div class="row">
                <div class="card-content">
                    <!-- Left-side content -->
                    <div class="col s12 l4">
                        <!-- Lots card -->
                        <div class="card blue">
                            <div class="card-content">
                                <span class="card-title white-text">Parking Lots</span>
                            </div>
                            <ul class="collection">
                                <li *ngFor="let parkingLot of parkingLots" class="collection-item"
                                    (click)="onSelect(parkingLot)">
                                    <span>{{parkingLot.lotName}}</span>
                                </li>
                            </ul> 
                        </div>
                    </div>
                    <!-- Right-side content -->
                    <div class="col s12 l8">
                        <!-- Lot Details card -->
                        <div class="card blue">
                            <div class="card-content">
                                <span class="card-title white-text">Lot Details</span>
                            </div>
                            <ul class="collection">
                                <li class="collection-item">
                                    <parking-lot-detail [parkingLot]="selectedParkingLot"></parking-lot-detail>
                                </li>
                            </ul> 
                        </div>
                        <!-- Inspectors card -->
                        <div class="card blue">
                            <div class="card-content">
                                <span class="card-title white-text">Inspectors</span>
                            </div>
                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <!--<img src="images/yuna.jpg" alt="" class="circle">-->
                                    <i class="material-icons circle">account_box</i>
                                    <span class="title">Charles Frank</span>
                                    <!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
                                </li>
                                <li class="collection-item avatar">
                                    <!--<img src="images/yuna.jpg" alt="" class="circle">-->
                                    <i class="material-icons circle">account_box</i>
                                    <span class="title">Katie Boorer</span>
                                    <!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inspectors tab -->
    <div id="inspectors" class="col s12">
        <div class="card grey lighten-3">
            <div class="card-content">
                Inspectors
            </div>
        </div>
    </div>
    <!-- Requests tab -->
    <div id="requests" class="col s12">
        <div class="card grey lighten-3">
            <div class="card-content">
                Requests
            </div>
        </div>
    </div>
</div>